<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/client.js"></script>
  <%if(gameflag==1){%>
  <script src="/js/game.js"></script>
  <%} else if(gameflag==2){%>
  <script src="/js/game2.js"></script>
  <%} else if(gameflag==3){%>
  <script src="/js/tetris.js"></script>
  <%}%>   

  <style>
    div.tetrisGame {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 600px;
  height: 600px;
}

div.tetrisGame div.tetrisLeftPane {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

div.tetrisLeftPane div.tetrisScore {
  position: absolute;
  top: 200px;
  left: 0px;
  font-size: 20pt;
  text-align: left;
}

div.tetrisLeftPane div.tetrisPreview {
  position: absolute;
  left: 150px;
  width: 120px;  /* 4 cols * 30px */
  height: 120px;  /* 4 rows * 30px */
}

div.tetrisLeftPane div.tetrisUsage {
  position: absolute;
  left: 0;
  top: 400px;
}

div.tetrisLeftPane div.tetrisUsage th,
div.tetrisLeftPane div.tetrisUsage td {
  text-align: left;
}

div.tetrisLeftPane div.tetrisUsage td {
  padding-left: 1em;
}

div.tetrisRightPane {
  position: absolute;
  left: 300px;
  top: 0px;
  width: 300px;  /* 10 cols * 30px */
  height: 600px;  /* 20 rows * 30px */
}

div.tetrisRightPane div.tetrisBoard {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;  /* 10 cols * 30px */
  height: 600px;  /* 20 rows * 30px */
}

div.tetrisBlock {
  position: absolute;
  width: 29px;
  height: 29px;
  border: 1px solid black;
  background-color: black;
}

div.tetrisBlock.habitated1 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
}

div.tetrisBlock.habitated2{
  border: 1px solid black;
  background: linear-gradient(to right, rgb(247, 255, 0), rgb(219, 54, 164));
}

div.tetrisBlock.habitated3 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(238, 205, 163), rgb(239, 98, 159));
}

div.tetrisBlock.habitated4 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(194, 229, 156), rgb(100, 179, 244));
}

div.tetrisBlock.habitated5 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(0, 210, 255), rgb(146, 141, 171));
}

div.tetrisBlock.habitated6 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(33, 150, 243), rgb(244, 67, 54));
}

div.tetrisBlock.habitated7 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(186, 83, 112), rgb(244, 226, 216));
}
div.tetrisBlock.habitated8 {
  border: 1px solid black;
  background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
}
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      background-color: #1abc9c;
      /* Green */
      color: #ffffff;
    }

    .bg-2 {
      background-color: #474e5d;
      /* Dark Blue */
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff;
      /* White */
      color: #555555;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }

    /*게임 canvas*/
    canvas {
      border: 1px solid #d3d3d3;
      background-color: #f1f1f1;
    }
  </style>
</head>
<%if(gameflag==1){%>

<body onload="startGame()">
  <%}else if(gameflag==2){%>

  <body onload="startGame()">
    <%}else if(gameflag==3){%>

    <body onload="tetris_run(document.getElementById('game'))">
      <%}else{%>

      <body>
        <%}%>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">WithJihwan</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <%if(!flag){%>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/join">JOIN</a></li>
        <%} else {%>
        <li><a href="/login/out">LOGOUT</a></li>
        <%} %>
        <li><a href="/game">GAME</a></li>
        <li><a href="/board" id="board">BOARD</a></li>
        </ul>
        </div>
        </div>
        </nav>

        <!-- First Container -->
        <div id="join_form" class="container-fluid bg-1 text-center">
          <div id="myfilter"
            style="position:absolute;background-color: rgb(0, 0, 0);opacity: 0.3;width: 482px;height: 272px;display:none;">
          </div>
          <div id="restart" style="position:absolute; padding-top: 120px; padding-left: 200px; display: none;"><button
              class="btn btn-primary" onclick="restartGame()" style="display:inline-block;" id="retext">RESTART</button>
          </div>
          <div id='game' style=" display: inline-block;"></div>
          <% if(gameflag==1){ %>
          <br>
          <div style="display: inline-block;">

            <button class="btn btn-primary" onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)"
              style="display:inline-block;">ACCELERATE</button>
            <p style="height: 20px;"></p>
            <p>버튼을 누르면 캐릭터가 점프 합니다.</p>
            <p>점프를 이용하여 캐릭터를 멀리 보내세요.</p>
          </div>
          <%} else if(gameflag==2){ %>
          <br>
          <div style="text-align:center;width:480px; display:inline-block;">
            <button class="btn btn-primary" onmousedown="moveup()" onmouseup="clearmove()" ontouchstart="moveup()"
              style="margin: 10px;">UP</button><br>
            <button class="btn btn-primary" onmousedown="moveleft()" onmouseup="clearmove()" ontouchstart="moveleft()"
              style="margin: 10px;">LEFT</button>
            <button class="btn btn-primary" onmousedown="moveright()" onmouseup="clearmove()" ontouchstart="moveright()"
              style="margin: 10px;">RIGHT</button><br>
            <button class="btn btn-primary" onmousedown="movedown()" onmouseup="clearmove()" ontouchstart="movedown()"
              style="margin: 10px;">DOWN</button>
          </div>
          <% } else if(gameflag==0){ %>
          <div class="container-fluid bg-1 text-center">
            <div class="col-sm-4">
              <h2>GAME1</h2>
              <img src="/image/game1.png" width="300px" style="margin: 30px 30px; cursor:pointer;"
                onclick="location.href='/game/1'">
            </div>
            <div class="col-sm-4">
              <h2>GAME2</h2>
              <img src="/image/game2.png" width="300px" style="margin: 30px 30px; cursor:pointer;"
                onclick="location.href='/game/2'">
            </div>
            <div class="col-sm-4">
              <h2>TETRIS</h2>
              <img src="/image/tetris.png" width="300px" style="margin: 30px 30px; cursor:pointer;"
                onclick="location.href='/game/3'">

            </div>
          </div>
          <% } %>
        </div>

        <!--   // Second Container 
    <div class="container-fluid bg-2 text-center">
      <h3 class="margin">게시판 검색</h3>
      <input id="search_board" />
      <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> Search
      </a>
    </div>

    // Third Container (Grid) 
    <div class="container-fluid bg-3 text-center">
      <h3 class="margin">Where To Find Me?</h3>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <img
            src="birds1.jpg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <img
            src="birds2.jpg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
        <div class="col-sm-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <img
            src="birds3.jpg"
            class="img-responsive margin"
            style="width:100%"
            alt="Image"
          />
        </div>
      </div>
    </div> -->


      </body>

</html>